form {
	width: 40%;
	margin: 5% auto;
	padding: 2%;
	background: white;
	text-align: center;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 30px 30px 0 rgba(0, 0, 0, 0.24);
}
h3 , h2{
	text-align: center;
	color:darkcyan;
}
h3, h2 {
	margin-top: 5%;
}
input {
	padding: 3%;
	width: 50%;
	margin: 5%;
}
.login-button {
	width: 20%;
	background-color: steelblue;
	color: white;
	border: none;
}
.login-button:hover {
	opacity: 0.9;
}
body {
	background-color: steelblue;
	font-family: Georgia;
}
.color-red{
	color: red;
}


